<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.null01.mappers.HotelMapper">
    <resultMap id="HotelResultMap" type="com.null01.models.Hotel">
        <id column="id" property="id"/>
        <result column="hotelname" property="hotelname"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="getAll" resultMap="HotelResultMap">
        SELECT id, hotelname, address FROM hotel
    </select>

    <select id="getByName" resultMap="HotelResultMap" parameterType="java.lang.String">
        SELECT id, hotelname, address FROM hotel
        WHERE lower(hotelname) LIKE lower(#{name})
    </select>

    <select id="poster" resultType="java.lang.Integer" parameterType="java.util.Map">
        INSERT INTO hotel(id, hotelname, address) VALUES ((SELECT max(id) + 1 FROM hotel), #{hotelname} , #{address} );
    </select>

    <select id="getIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT id FROM hotel
        WHERE hotelname = #{name}
    </select>

    <select id="postJ" resultType="java.lang.Integer" parameterType="java.util.Map">
    </select>

</mapper>