<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>addHotel</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
<h1> Post new Hotel</h1>
<p class="tex">Create a new hotel entry</p>
<form th:action="@{/addHotel}" th:object="${hotelForm}" th:method="post">
    <input type = "text" th:field="*{hotelname}" placeholder="Name"/>
    <input type = "text" th:field="*{address}" placeholder="Address"/>
    <input type = "submit" value="Post" class="btnSum"/>
</form>

</body>
</html>