<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="page">
<head>

    <title>respondentContent</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body align="center">

<div class="loader">
    <div class="loader_inner"></div>
    <div class="loader_inner"></div>
    <div class="loader_inner"></div>
    <div class="loader_inner"></div>
    <div class="loader_inner"></div>
</div>

    <h1>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM <br> COPYRIGHT 2075-2077 ROBCO INDUSTRIES <br> - Server 1 -<br><br>
        |------------------------------------------------------- Ids of changed entries ------------------------------------------------------|</h1></h1>
    <table>
        <tr th:each="result : ${respondent}">
            <td th:text="${result}" id="result" name="result"> id </td>
        </tr>
    </table>
    <br><br/>
    <a href="hotels" class = "btnSum"> Return to main page </a>
    <input type="button" onclick="history.back();" value="Back" class="btnSum"/>

<script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 1000);
    }
</script>

</body>
</html>