<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>respondentContent</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
    <h1>Information about changed entries</h1>
    <table border="5">
        <tr th:each="result : ${respondent}">
            <td th:text="${result}" id="result" name="result"> id </td>
        </tr>
    </table>
    <br><br/>
    <a href="hotels" class = "btn1"> Return to main page </a>
    <input type="button" onclick="history.back();" value="Back" class="btnBack"/>
</body>
</html>